


.head{
  font-family: cursive;
  display: flex;
  justify-content: center;
  align-items: center;

 
}

.heading{
  
  color: whitesmoke;
  font-size: 4rem;
  position: relative;
  text-transform: uppercase;
  width: 0ch;
  white-space: nowrap;
  animation: slide 6s linear infinite ;
  border-right: 0.2rem solid #2ed573;
  overflow: hidden;
 
}

.reg{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  
}
.link_btn{
padding: 15px 40px;
color: white;
font-size: 1.2rem;
background:linear-gradient(to top,#2f1e84,#413aae);
border-radius: 5px;
transition: 0.5s ease;
border: 2px solid #2f1e84;
text-transform: capitalize;
letter-spacing: 2px;
}
.link_btn:hover{
 
color: white;
background:transparent;
border: 2px solid #2f1e84;
box-shadow: 0 0 5px #413aae;
}
.slider_title{
  color: #03c8db;
}



/* .heading::before{
   content: "Welcome To Job Portol";
   width: 100%;
   white-space: nowrap;
   color: #2ed573;
   position: absolute;
   top: 0;
   left: 0;
   -webkit-animation: slide 3s linear infinite;
   overflow: hidden;
   
} */

@media only screen and (max-width: 600px) {
  .heading {
    font-size: 1.8rem ;
  }
}

@keyframes slide{
  0%{
      width: 0ch;
  }
  75%{
      width: 67%;
  }
  100%{
      width :0ch;
  }
  
  
}

